Django==4.2.30
Pillow==11.3.0
django-jazzmin==3.0.5
django-cors-headers==4.9.0
google-genai==2.25.0
python-dotenv==1.0.1
whitenoise==6.9.0
gunicorn==23.0.0
dj-database-url==3.0.1
psycopg2-binary==2.9.10
supabase==2.31.0
